- content_for :title, "Lista de revendas"

- @resellers.each do |reseller|
  .reseller
    = reseller.name
    = reseller.user.name
    = reseller.manager.name
    = reseller.phone
    = reseller.goal
    = reseller.credits
    = reseller.debits
    = link_to "Alterar meta", edit_reseller_path(reseller)
