- content_for :title, "Lista de revendas"
- content_for :stylesheet, stylesheet_link_tag("ui.progress-bar.css")
- content_for :stylesheet, stylesheet_link_tag("ios.css", :media => "only screen and (max-device-width: 480px)")

.list
  - @resellers.each do |reseller|
    .reseller{:class => @resellers.last == reseller ? "last" : nil}
      .top.left
        %h2= reseller.name
        .details
          Usuário:
          %b= link_to reseller.user.name, user_path(reseller.user)
          |
          Gerente:
          %b= link_to reseller.manager.name, user_path(reseller.manager)
      .progress_bar.left.ui-progress-bar.ui-container
        .ui-progress{:style => "width: #{(reseller.goal_percentage > 100 ? 100 : (reseller.goal_percentage < 10 ? 10 : reseller.goal_percentage))}%;"}
          %span.ui-label
            Meta
            %b{:class => "value"} #{reseller.goal_percentage}%
      %p
        Meta:
        %b= number_to_currency reseller.goal
        (
        = link_to "Alterar meta", edit_reseller_path(reseller)
        )
        |
        Créditos:
        %b= number_to_currency reseller.credits
        |
        Débitos:
        %b= number_to_currency reseller.debits
        |
        = link_to "Previsão de compra", reseller_purchase_expectations_path(reseller, Date.today.year, Date.today.month)
