- content_for :title, t("page_title.purchase_expectation.index", :reseller => @reseller.name, :date => l(@date, :format => :month_and_year))
- content_for :submenu do
  = link_to t("links.resellers"), resellers_path
  |
  = select_tag :date, options_for_select((Date.today..Date.today + 1.year - 1.month).map{|date| [l(date, :format => :month_and_year), reseller_seasonal_purchase_expectations_path(@reseller, date.year, date.month)]}.uniq.insert(0, "Prever compra para:")), :onchange => "window.location = this.value"

= form_for [@reseller, @seasonal_purchase_expectation] do |form|
  = label_tag :product_id, "Produto"
  = text_field_tag :product_id
  = form.label :quantity, "Quantidade"
  = form.text_field :quantity
  = form.submit "Adicionar previsão"

%table
  - if @purchase_expectations.empty?
    %tr
      %td.no_item{:colspan => 9}= "A #{@reseller.name} ainda não tem previsão de compra para #{l(@date, :format => :month_and_year)}."
  - else
    %tr
      %th{:colspan => 3}
      %th.past{:colspan => 2}= l(@date - 1.year, :format => :month_and_year)
      %th.future= l(@date, :format => :month_and_year)
    %tr
      %th.product Referência
      %th.product Marca
      %th.product Grupo
      %th.past Qt. Consultada
      %th.past Qt. Comprada
      %th.future Previsão de compra
    - @purchase_expectations.each do |purchase_expectation|
      %tr
        %td.product= purchase_expectation.product.reference
        %td.product= purchase_expectation.product.brand
        %td.product= purchase_expectation.product.group
        %td.past= purchase_expectation.history ? purchase_expectation.history.consulted : 0
        %td.past= purchase_expectation.history ? purchase_expectation.history.bought : 0
        %td.future= purchase_expectation.quantity
