- content_for :title, t("page_title.purchase_expectation.index", :reseller => @reseller.name, :date => l(@date, :format => :month_and_year))
- content_for :javascript, javascript_include_tag("jquery-ui/jquery.ui.core.min.js")
- content_for :javascript, javascript_include_tag("jquery-ui/jquery.ui.widget.min.js")
- content_for :javascript, javascript_include_tag("jquery-ui/jquery.ui.position.min.js")
- content_for :javascript, javascript_include_tag("jquery-ui/jquery.ui.autocomplete.min.js")
- content_for :stylesheet, stylesheet_link_tag("jquery-ui.css")
- content_for :submenu do
  = link_to t("links.resellers"), resellers_path
  |
  = select_tag :date, options_for_select((Date.today..Date.today + 1.year - 1.month).map{|date| [l(date, :format => :month_and_year), reseller_seasonal_purchase_expectations_path(@reseller, date.year, date.month)]}.uniq.insert(0, "Ver previsão para:")), :onchange => "window.location = this.value"

- if current_user.is_reseller?
  = form_for [@reseller, @seasonal_purchase_expectation] do |form|
    - if @seasonal_purchase_expectation.errors.any?
      #error_explanation
        %ul
          - @seasonal_purchase_expectation.errors.full_messages.each do |msg|
            %li= msg
    = label_tag :product_reference, "Produto"
    = text_field_tag :product_reference
    %span#purchase_history Ano passado: consultou 10, comprou 10
    %img#purchase_history_loading{:src => "/images/ajax-loader.gif", :style => "display:none"}
    = form.label :quantity, "Quantidade"
    = form.text_field :quantity
    = form.submit "Adicionar previsão"

%table
  - if @purchase_expectations.empty?
    %tr
      %td.no_item{:colspan => 9}= "A #{@reseller.name} ainda não tem previsão de compra para #{l(@date, :format => :month_and_year)}."
  - else
    %tr
      %th{:colspan => 3}
      %th.past{:colspan => 2}= l(@date - 1.year, :format => :month_and_year)
      %th.future= l(@date, :format => :month_and_year)
    %tr
      %th.product Referência
      %th.product Marca
      %th.product Grupo
      %th.past Qt. Consultada
      %th.past Qt. Comprada
      %th.future Previsão de compra
      %th
    - @purchase_expectations.each do |purchase_expectation|
      %tr
        %td.product= purchase_expectation.product.reference
        %td.product= purchase_expectation.product.brand
        %td.product= purchase_expectation.product.group
        %td.past= purchase_expectation.history ? purchase_expectation.history.consulted : 0
        %td.past= purchase_expectation.history ? purchase_expectation.history.bought : 0
        %td.future= purchase_expectation.quantity
        %td.actions
          = link_to("Editar", edit_reseller_seasonal_purchase_expectation_path(@reseller, params[:year], params[:month], purchase_expectation))
          | 
          = link_to("Remover", reseller_seasonal_purchase_expectation_path(@reseller, params[:year], params[:month], purchase_expectation), :method => "delete", :class => "alert")

:javascript
  $(function() {
    $( "#product_reference" ).autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "http://localhost:3000/products.json",
          dataType: "json",
          data: { search: request.term + "*" },
          success: function(data){
            response( $.map( data, function( item ) {
              return {
                label: item.product.reference + ", " + item.product.brand + ", " + item.product.group,
                value: item.product.reference
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function(event, ui) {
        $("#purchase_history_loading").fadeIn();
        $.ajax({
          url: "#{reseller_seasonal_purchase_histories_path(@reseller, @date.year - 1, @date.month)}",
          data: {product_reference: ui.item.value},
          success: function(data){
            $("#purchase_history").text(data);
            $("#purchase_history_loading").hide();
            $("#purchase_history").fadeIn();
          }
        });
      },
      open: function() {
        $("#purchase_history").fadeOut();
      }
    });
  });
