- content_for :title, t("page_title.general.documents")

%ul
  %li= link_to "Regulamento INAFAG Fiel", "/documents/regulamento.pdf", :target => "_blank"
  %li= link_to "Catálogo de aplicações 2002", "/documents/catalogo_de_aplicacoes_2002_br.pdf", :target => "_blank"
  %li= link_to "Catálogo FAG", "/documents/FAG_Catalogo_Geral.pdf", :target => "_blank"
  %li= link_to "Catálogo INA", "/documents/INA_Catalogo_BR_019.pdf", :target => "_blank"
  %li= link_to "Montagem de rolamentos", "/documents/montagem_de_rolamentos.pdf", :target => "_blank"
  %li= link_to "Customer information", "/documents/customer_info.pdf", :target => "_blank"
  %li= link_to "Informe Técnico: Rolos de Leva – Série LR 52", "/documents/rolos_de_leva.pdf", :target => "_blank"
