- content_for :title, "Meus dados"
= semantic_form_for @user do |form|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  - form.inputs do
    = form.input :name, :as => :string
    = form.input :phone, :as => :string
    = form.input :password, :as => :password, :required => false
    = form.input :password_confirmation, :as => :password
  - form.buttons do
    = form.commit_button
