= form_for(@freebie) do |f|
  - if @freebie.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@freebie.errors.count, 'error')} prohibited this user from being saved:"
      %ul
      - @freebie.errors.full_messages.each do |msg|
        %li= msg
  

  .actions
    = f.submit
