= semantic_form_for @freebie do |form|
  - form.inputs "Basic", :id => "basic" do 
    = form.input :title, :as => :string, :required => true
    = form.input :description
    = form.input :price, :required => true, :value_method => Proc.new { |a| "#{a}" }
  .actions
    - form.buttons do 
      = form.commit_button 
- if @freebie.errors.any?
  #errorExplanation
    %h2= "#{pluralize(@freebie.errors.count, 'error')} prohibited this user from being saved:"
    %ul
    - @freebie.errors.full_messages.each do |msg|
      %li= msg

