- content_for :title, t('page_title.freebies.index')
- content_for :submenu do
  - if current_user.is_admin?
    = link_to t('links.new_freebie'), new_freebie_path

.list
  - for freebie in @freebies
    .freebie{:class => @freebies.last == freebie ? "last" : nil}
      = image_tag freebie.image.url(:normal)
      .description
        = link_to freebie.title, freebie
        %p= freebie.description
      .price= number_to_currency(freebie.price)
      .clear
