- if @freebie.is_course?
  - content_for :title, "#{@freebie.title} (curso)"
- else
  - content_for :title, @freebie.title
- content_for :submenu do
  = link_to t("links.freebies"), freebies_path
  - if current_user.is_admin?
    |
    = link_to t("links.edit_freebie"), edit_freebie_path(@freebie)
    |
    = link_to t("links.destroy_freebie"), freebie_path(@freebie), :method => :delete, :class => "alert"

- if @order
  = semantic_form_for @order do |form|
    %table
      %tr
        %th
        %th Pontos
      %tr
        %td Saldo disponível:
        %td.point.green
          %b= @order.reseller.balance
      %tr
        %td Preço do brinde:
        %td.point.red
          %b= @freebie.price
      %tr
        %td Saldo final:
        %td.point
          %b= @order.reseller.balance - @freebie.price
    - if @order.errors.any?
      #error_explanation
        %ul
          - @order.errors.full_messages.each do |msg|
            %li= msg
    = form.inputs do
      = form.input :freebie_id, :as => :hidden
      = form.input :reseller_id, :as => :hidden
    = form.buttons do
      = form.commit_button :button_html => { :class => "confirm_button" }

= image_tag @freebie.image.url(:original), :class => "freebie"
- if @freebie.is_course?
  %p= "Limite de #{@freebie.attendees_limit} participantes."
%p= @freebie.description
.clear
