%p
  A
  %b= @reseller ? @reseller.name : "Quavio"
  %b incluiu 
  uma nova previsão de compra.

%p
  %b= @seasonal_purchase_expectation ? @seasonal_purchase_expectation.quantity : "10"
  unidade(s) do produto
  %b= @seasonal_purchase_expectation ? @seasonal_purchase_expectation.product.reference : "XXSA 212"
  para
  %b= @seasonal_purchase_expectation ? "#{@seasonal_purchase_expectation.seasonal_purchase.month}/#{@seasonal_purchase_expectation.year}." : "Maio de 2011."

%p
  Confira esta e outras previsões através
  - if @reseller && @seasonal_purchase_expectation
    = link_to "deste link", reseller_seasonal_purchase_expectations_url(:reseller_id => @reseller.id, :year => @seasonal_purchase_expectation.year, :month => @seasonal_purchase_expectation.seasonal_purchase.month)
  - else
    = link_to "deste link", root_url
