.course
  .left
    = link_to course.title, course
    %p.description= course.description
  .right
    %span.price= number_to_currency course.price
    %span.max_attendants
      Máx. participantes:
      %b= course.max_attendants || "?"
    %span.start_at
      Inicia dia
      - if course.start_at
        %b= l(course.start_at, :format => :long)
      - else
        %b ?
  .clear
