- content_for :title, @course.title
- content_for :submenu do
  = link_to t("links.courses"), courses_path
  - if current_user.is_admin?
    |
    = link_to t("links.edit_course"), edit_course_path(@course)
    |
    = link_to t("links.destroy_course"), course_path(@course), :method => :delete, :class => "alert"

%p= @course.description
%p
  Inicia dia:
  %b= l @course.start_at, :format => :long
%p
  Número máximo de participantes:
  %b= @course.max_attendants || "?"
.clear
