- content_for :default do
  #header
    #top
      #connected_as
        %div
          = link_to current_user.name, edit_user_path(current_user), :title => "Você está conectado como #{I18n.t("roles." + current_user.role)}"
          |
          = link_to "Sair", destroy_user_session_path, :class => "sign_out"
      = image_tag "ina-fag.png", :id => "ina-fag"
      = image_tag "imdepa.png", :id => "imdepa"
    .clear
    #menu
      = link_to I18n.t("links.resellers"), resellers_path, :class => (params[:controller] == "resellers" ? "selected" : nil)
      = link_to I18n.t("links.freebies"), freebies_path, :class => (params[:controller] == "freebies" ? "selected" : nil)
      .clear
  %h1= yield(:title)
  #default
    - if flash[:notice]
      %p.notice= flash[:notice]
    - if flash[:alert]
      %p.alert= flash[:alert]
    = yield
= render :file => 'layouts/application'
#footer ©2011 Imdepa Rolamentos Importação e Comércio Ltda
