- content_for :default do
  #header
    #top
      #connected_as
        %div
          = link_to "#{current_user.name} (#{t("roles." + current_user.role).downcase})", edit_user_path(current_user)
          |
          = link_to t("links.sign_out"), destroy_user_session_path, :class => "sign_out"
      = image_tag "ina-fag.png", :id => "ina-fag"
      = image_tag "imdepa.png", :id => "imdepa"
    .clear
    #menu
      = link_to t("links.menu.freebies"), freebies_path, :class => (params[:controller] == "freebies" ? "selected" : nil)
      - if current_user.role == "a" || current_user.role == "m"
        = link_to t("links.menu.resellers"), resellers_path, :class => (params[:controller] == "resellers" ? "selected" : nil)
      = link_to t("links.menu.contact"), contact_path, :class => (params[:controller] == "general" && params[:action] == "contact" ? "selected" : nil)
      .clear
  %h1= yield(:title)
  #default
    - if flash[:notice]
      %p.notice= flash[:notice]
    - if flash[:alert]
      %p.alert= flash[:alert]
    = yield
= render :file => 'layouts/application'
#footer ©2011 Imdepa Rolamentos Importação e Comércio Ltda
