%style
  body{font-family:'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif; margin:0;}
  h1{font-size:22px; color:#064e75}
  a{color:#064e75}
%table{:width => "100%", :height => "100%", :bgcolor => "#00823c"}
  %tr
    %td
      %table{:align => "center", :cellpadding => "0px", :cellspacing => "0px"}
        %tr.header_top
          %td{:width => "620px", :style => "background:url('#{image_path("mailer/mailer_top.png")}'); height:15px"}
        %tr.header
          %td{:width => "620px", :style => "background:url('#{image_path("mailer/mailer_middle.png")}')"}
            %table{:width => "620px", :cellpadding => "0px", :cellspacing => "0px"}
              %tr
                %td{:colspan => "4", :height => "15px"}
              %tr
                %td{:width => "30px"}
                %td
                  = link_to image_tag("ina-fag.png", :id => "ina-fag"), "http://www.schaeffler.com/content.schaeffler.com.br/pt/ina_fag_products/index.jsp", :target => "_blank"
                %td{:align => "right"}
                  = link_to image_tag("imdepa.png", :id => "imdepa"), "http://imdepa.com.br/", :target => "_blank"
                %td{:width => "30px"}
        %tr.content
          %td{:width => "620px", :style => "background:url('#{image_path("mailer/mailer_middle.png")}')"}
            %table{:cellspacing => "0", :cellpadding => "0"}
              %tr
                %td{:colspan => "3", :height => "15px"}
              %tr
                %td{:width => "30px"}
                %td{:width => "560px"}
                  %hr
                  = yield
                %td{:width => "30px"}
              %tr
                %td{:colspan => "3", :height => "15px"}
        %tr.content_bottom
          %td{:width => "620px", :style => "background:url('#{image_path("mailer/mailer_bottom.png")}'); height:15px"}
        %tr.footer
          %td{:width => "620px"}
            %table
              %tr
                %td{:height => "5px", :colspan => "3"}
              %tr
                %td{:width => "10px"}
                %td{:width => "600px"}
                  %table{:width => "600px", :cellpadding => "0", :cellspacing => "0"}
                    %tr
                      %td{:height => "5px"}
                    %tr
                      %td{:width => "5px"}
                      %td{:style => "color:white; font-size:12px", :align => "center"}
                        Você está recebendo este e-mail pois possui cadastrado no portal 
                        = link_to "INA FAG Fiel", root_url, :style => "color:white"
                        %br
                        Em caso de dúvidas entre em contato através do e-mail
                        = link_to "natalie.bolzan@imdepa.com.br", "mailto:natalie.bolzan@imdepa.com.br", :style => "color:white"
                      %td{:width => "5px"}
                    %tr
                      %td{:height => "5px"}
                %td{:width => "10px"}
